<app-header [title]="title"></app-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">E-Mail</ion-label>
    <ion-input type="text" id="email" autocomplete="email" autofocus=true placeholder='email@example.com' [(ngModel)]="username" required=true></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" id="pass" autocomplete="current-password" placeholder='password' (keydown.enter) = "submit()" [(ngModel)]="password" required=true></ion-input>
  </ion-item>
  
  <br>
  
  <ion-button (click)="register()" expand="block" fill="outline" shape="round">
    Register
  </ion-button>
  <ion-button (click)="login()" expand="block" fill="outline" shape="round">
    Login
  </ion-button>
  
  <ion-item-divider>
    <p>{{message}}</p>
  </ion-item-divider>
  
  <br>

  <ion-button (click)="admin()" id="admin1" expand="block" fill="outline" shape="round">
    ADMIN
  </ion-button>
  <ion-button (click)="invite()" id="admin1" expand="block" fill="outline" shape="round">
    INVITADO
  </ion-button>
  <ion-button (click)="user()" id="admin1" expand="block" fill="outline" shape="round">
    USUARIO
  </ion-button>
  <ion-button (click)="anon()" id="admin1" expand="block" fill="outline" shape="round">
    ANONIMO
  </ion-button>
  <ion-button (click)="tester()" id="admin1" expand="block" fill="outline" shape="round">
    TESTER
  </ion-button>
  
  <router-outlet></router-outlet>

</ion-content>
