<app-header [title]=title></app-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <!-- <ion-toolbar> -->
    <!-- <ion-title size="large">Login-email</ion-title> -->
    <!-- </ion-toolbar> -->
  </ion-header>

  <div id="container">
    <!--<app-login></app-login> -->

    <h3>Su crédito es:</h3>

    <h1>{{credit}}</h1>

    <div class="row">

      <ion-button (click)="add()" expand="block" fill="solid" shape="round">
        Cargar
      </ion-button>
    </div>

    <div class="row">

      <ion-button (click)="clear()" color="danger" expand="block" fill="solid" shape="round">
        Limpiar
      </ion-button>
    </div>

    <div class="row">
      <ion-button (click)="logout()" color="dark" expand="block" fill="solid" shape="round">
        Logout 
      </ion-button>
    </div>
    <div class="row">
      <p>{{message}}</p>
    </div>
  </div>

</ion-content>