<app-header [title]=title></app-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <!-- <ion-toolbar> -->
    <!-- <ion-title size="large">Login-email</ion-title> -->
    <!-- </ion-toolbar> -->
  </ion-header>

  <div id="container">

    <img src="../../assets/qrMano.png" class="pulsate-fwd" width="70%" style="margin: 2%;" alt="">
    <!--<app-login></app-login> -->

    <h3>Su crédito es:</h3>

    <h1>{{credit}}</h1>

    <div class="row">

      <ion-button (click)="add()" style="margin-bottom: 4%;" expand="block" size="large" fill="solid" shape="round">
        Cargar
      </ion-button>
    </div>

    <div class="row">

      <ion-button (click)="clear()" style="margin-bottom: 4%;" color="danger" expand="block" fill="solid" shape="round">
        Limpiar
      </ion-button>
    </div>

    <div class="row">
      <ion-button (click)="logout()" style="margin-bottom: 4%;" color="dark" fill="solid">
        Logout 
      </ion-button>
    </div>
    <div class="row">
      <p>{{message}}</p>
    </div>
  </div>

</ion-content>